@import url("https://fonts.googleapis.com/css?family=Poppins|Oxygen|Montserrat&display=swap");

$primaryFont: "Poppins";
$headerFont: "Oxygen";

html {
	font: normal 100%/1.5, Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ol,
ul,
dl,
dd,
figure,
table,
details,
fieldset {
	font-family: $headerFont;
	margin: 0 0 1.5rem;
}

.yotta {
	font-size: 2.28rem;
	line-height: 1.3154;
}

.zetta {
	font-size: 2.027rem;
	line-height: 1.4798;
}

h1,
.exa {
	font-size: 1.802rem;
	line-height: 1.6648;
}

h2,
.peta {
	font-size: 1.602rem;
	line-height: 1.0535;
}

h3,
.tera {
	font-size: 1.424rem;
	line-height: 1.0535;
}

h4,
.giga {
	font-size: 1.266rem;
	line-height: 1.1852;
}

h5,
.mega {
	font-size: 1.125rem;
	line-height: 1.3;
}

h6,
p,
.kilo {
	font-size: 1rem;
	line-height: 1.5;
}

button,
small,
.milli {
	font-size: 0.889rem;
	line-height: 1.6875;
}

.mini {
	font-size: 0.79rem;
	line-height: 1.8987;
}

.micro {
	font-size: 0.65rem;
	line-height: 2.3076;
}
