.Brand {
	font-weight: 900;
	background-color: var(--background-color);
	color: var(--primary-color);
	border-radius: 1.5rem;
	padding: 0.375rem 0.5675rem;
	font-size: 1.424rem;
	text-decoration: none;
	transition: var(--transition-1);

	&__ng {
		font-size: 0.889rem;
		text-decoration: underline;
	}

	&:hover,
	&:focus {
		background: none;
		color: var(--background-color);
	}
}

.Clickable {
	color: inherit !important;
	background: none;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: var(--transition-1);

	&:hover {
		cursor: pointer;
	}

	&:focus {
		border: 1px solid;
	}
}

.Error {
	background-color: var(--danger-color);

	&__message {
		margin: 0;
		color: var(--background-color);
	}

	&__control * {
		color: var(--background-color);
		transform: translateY(3px);
	}
}

.SearchBox {
	background-color: var(--background-color);
	border-radius: 3rem;
	overflow: hidden;
	border: 2px solid var(--background-color);

	&__input {
		padding: 0.75rem;
		background: none;
		border: none;
		color: var(--primary-color);
		font-size: 100%;

		&::placeholder {
			text-transform: capitalize;
		}
	}

	&__control {
		width: 50px;
		color: var(--background-color) !important;
		background: var(--primary-color);
		font-size: 110%;

		&:hover,
		&:focus {
			color: var(--primary-color) !important;
			background: none;
			border: none;
		}
	}
}
