.Profile {
	&__header {
	}

	&__img {
		width: 100%;
		height: 100%;

		&-wrapper {
			border: 5px solid var(--line-color);
			width: 100px;
			height: 100px;
			overflow: hidden;
			border-radius: 50%;
			margin: 0.75rem;
		}
	}

	&__options {
		margin-top: 1.5rem;
		list-style: none;
	}

	&__opt {
		height: 30px;
		display: flex;
	}
	&__control {
		flex: 1;
		border-bottom: 1px solid var(--line-color);
		font-weight: 550;

		&::first-letter {
			text-transform: uppercase;
		}
	}
}
