.Timeline {
	&__products {
		display: grid;
		grid-template-columns: repeat(4, 185px);
		grid-auto-rows: 120px;
		justify-content: space-between;
		gap: 0.357rem;
	}

	&__product {
		list-style: none;
	}

	@include phone-768 {
		&__products {
			grid-template-columns: repeat(3, 185px);
			justify-content: center;
		}
	}

	@include phone-577 {
		&__products {
			grid-template-columns: repeat(2, 200px);
		}
	}
	@include phone-411 {
		&__products {
			grid-template-columns: 350px;
			grid-auto-rows: 220px;
		}
	}
}
